body{
    background-image:url(https://images.unsplash.com/photo-1604063155785-ee4488b8ad15?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cGFycXVlYWRlcm98ZW58MHx8MHx8fDA%3D&w=1000&q=80);
    /*background-image:background-color: rgb(25, 131, 236);*/
    margin: 0px;
    padding: 0px;
    font-family: verdana;
    font: color="white";  
}
div{
    color: #000;
}
p{
    background-color: rgba(15, 182, 224, 0.382);
    margin: auto;   
}

h1{
    color: rgb(11, 11, 241);
    font-size: 70px;
    
    padding: 0px;
    font-family: vConsolas;
    
}
h3{
    color: rgb(97, 216, 18);
    font-size: 50px;
    
    padding: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}